* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: black;
}

.navbar{
    display: flex;
    padding-top: 20px;   
    padding-left: 15px;
    width: 98.6%;
    color: blue;
    background-color: black;
}

.navbar-menu{
    display: flex;
    gap: 25px;
    list-style: none;
    padding: 10px;
    margin-left: auto;
    margin-right: 20px;
}   

.main{
    display: flex;
    margin: 20px;
}

.main-headings{
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 1.5rem;
}

.country-city-input{
    padding: 40px;
    flex: 1;
    height: 76vh;
    background: linear-gradient(rgba(22, 20, 20, 0.494) 20%, rgba(128, 128, 128, 0.448) 70%);
    border-radius: 20px;
    text-align: center;
}

.weather-display-card{
    flex: 1.5;
    align-content: center;
    background: linear-gradient(rgba(22, 20, 20, 0.494) 30%, rgba(128, 128, 128, 0.448) 70%);
    margin-left: 20px;
    border-radius: 20px;
}

.main--title--top{
    color: white;
}

.main--title--bottom{
    margin-left:auto;
    color: rgb(0, 0, 255);
}

select{
    width: 100%;
    height: 50px;
    border-radius: 8px;
    color: rgba(0, 0, 0, 0.849);
}

select:disabled{
    width: 100%;
    height: 50px;
    border-radius: 8px;
    color: rgba(0, 0, 0, 0.849);
    background-color: rgba(128, 128, 128, 0.398);
}

.weather-input{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.weather-check-btn:enabled{
    margin-top: 40px;
    padding:20px;
    font-size: 20px;
    background-color: white(114, 142, 143, 0.731);
    border-style: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    color: white;
    background-color: rgb(0, 0, 255);
}

.weather-check-btn:disabled{
    margin-top: 40px;
    padding:20px;
    font-size: 20px;
    background-color: white(114, 142, 143, 0.731);
    border-style: none;
    border-radius: 10px;
    width: 100%;
    color: rgba(255, 255, 255, 0.202);
    background-color: rgba(115, 115, 220, 0.089);
}

.weather-check-btn:enabled:hover{
    transform: translateY(5px)scale(1.02);
}

.check-new-location-btn{
    padding:20px;
    font-size: 20px;
    background-color: white(114, 142, 143, 0.731);
    border-style: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    background-color: rgb(0, 0, 255);
    margin-bottom: 50px;
}

.check-new-location-btn:hover{
    transform: translateY(5px)scale(1.02);
}


.main-desc{
    text-align: center;
    padding:20px ;
    margin-bottom: 30px;
    margin-left: 60px;
    width: 80%;
    font-size: 4rem;
    color: white;
}

.main-desc-sub{
    text-align: center;
    margin-bottom: 30px;
    color: blue;
}

.weather-form{
    margin-top:10% ;
    margin-left: 10px;
    padding: 40px;
    text-align: center;
    width: 80%;
    border-radius: 10px;
}

.weather-display{
    text-align: center;
    height: 100%;
}

.city-name,.temp, .weather-desc{
    padding-top: 25px;
    font-size: 2rem;
    color: white;
}

.weather-emoji{
    font-size: 4rem;
    color: rgba(255, 157, 0, 0.85);
}

.other-details-display{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
}

.humidity-display,.wind-display, .feels-like-display{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 25px;
    color: white;
    background-color: rgba(0, 0, 0, 0.143);
    padding: 20px;
    border: 2px solid white;
    border-radius: 10px;
    align-items: center;
}

.humidity-value, .windspeed-value, .feels-like-value{
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}

.other-label{
    font-size: 12px;
}

.show-forecast-display{
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-top: 25px;
}

.day-forecast{
    background-color: rgba(0, 0, 0, 0.172);
    color: white;
    padding: 25px;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.date{
    margin:0;
}

.line-break{
    width: 90%;
    margin-left: 44px;
}

.api--credit{
    color: rgba(255, 255, 255, 0.309);
    margin-top: auto;
    font-size: 15px;

}

.day-emoji{
    width:80px;
}

.loading-text{
    color: white;
    text-align: center;
    font-size: 2rem;
}