* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: black;
}


.navbar{
    display: flex;
    padding: 20px 0px 0px 15px;
    color: blue;
    background-color: black;
}

.navbar-date{
    padding: 10px;
    margin: 0px 50px 0px auto;
    font-size: 1rem;
}   

.main{
    display: flex;
    margin: 20px;
}

.main-headings{
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 1.5rem;
}

.country-city-input{
    padding: 40px;
    flex: 1;
    height: 76vh;
    background: linear-gradient(rgba(22, 20, 20, 0.494) 20%, rgba(75, 74, 74, 0.448) 70%);
    border-radius: 20px;
    text-align: center;
}

.weather-display-card{
    flex: 1.5;
    align-content: center;
    background: black;
    margin-left: 20px;
    border-radius: 20px;
}

.main--title--top{
    color: white;
}

.main--title--bottom{
    margin-left:auto;
    color: rgb(0, 0, 255);
}

select{
    width: 100%;
    height: 50px;
    border-radius: 8px;
    color: rgba(0, 0, 0, 0.849);
}

select:disabled{
    width: 100%;
    height: 50px;
    border-radius: 8px;
    color: rgba(0, 0, 0, 0.849);
    background-color: rgba(128, 128, 128, 0.398);
}

.weather-input{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.weather-check-btn:enabled{
    margin-top: 40px;
    padding:20px;
    font-size: 20px;
    background-color: white(114, 142, 143, 0.731);
    border-style: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    color: white;
    background-color: rgb(0, 0, 255);
}

.weather-check-btn:disabled{
    margin-top: 40px;
    padding:20px;
    font-size: 20px;
    background-color: white(114, 142, 143, 0.731);
    border-style: none;
    border-radius: 10px;
    width: 100%;
    color: rgba(255, 255, 255, 0.202);
    background-color: rgba(115, 115, 220, 0.089);
}

.weather-check-btn:enabled:hover{
    transform: translateY(5px)scale(1.02);
}

.check-new-location-btn{
    padding:20px;
    font-size: 20px;
    background-color: white(114, 142, 143, 0.731);
    border-style: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    background-color: rgb(0, 0, 255);
    margin-bottom: 50px;
}

.check-new-location-btn:hover{
    transform: translateY(5px)scale(1.02);
}

.main-desc{
    text-align: center;
    padding:20px ;
    margin: 0px 0px 30px 60px;
    width: 80%;
    font-size: 4rem;
    color: white;
}

.main-desc-sub{
    text-align: center;
    margin-bottom: 30px;
    color: blue;
}

.weather-form{
    margin: 10px 0px 0px 10px;
    padding: 40px;
    text-align: center;
    width: 80%;
    border-radius: 10px;
}

.weather-display{
    text-align: center;
    height: 100%;
}

.city-desc-container{
    display: flex;
    text-align: left;
    padding: 40px 0px 0px 20px; 
    align-items: center;
    color: white;
}

.city-name{
    font-size: 2.5rem;
}

.temp{
    font-size: 3rem;
    margin: 0px 40px 0px auto;
}

.weather-desc{
    font-size: 1rem;
    text-align: left;
    color: rgba(255, 255, 255, 0.524);
    padding-left: 22px;
    margin-bottom: 100px;
}

.weather-emoji{
    margin-left: 20px;

}

.other-details-display{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    justify-content: center;
    margin: 20px auto 0px auto;
    width: 90%;
    border-radius: 15px;
    background-color: rgba(58, 57, 57, 0.247);
    padding: 5px 20px 5px 20px;
}

.weather-parameters-display{
    display: flex;
    flex-direction: column;
    color: white;
    padding: 15px;
    text-align: left;
}

.parameter-heading-container{
    display: flex;
    gap: 10px;
    align-items: center
}

.parameter-value{
    font-size: 30px;
    font-weight: bold;
    justify-content: left;
    padding-left: 35px;
}

.other-label{
    font-size: 15px;
    color: rgba(255, 255, 255, 0.454);
}

.parameter-icon{
    font-size: 30px;
    color: rgba(5, 5, 255, 0.941);
}

.show-forecast-display{
    display: flex;
    gap: 40px;
    justify-content: center;
    background-color:  rgba(58, 57, 57, 0.247);
    width: 91%;
    margin: 0 auto 20px auto;
    padding: 18px 15px 18px 15px;
    border-radius: 15px;
}

.day-forecast{
    color: white;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    cursor: pointer;
}

.day-forecast:hover{
    background: linear-gradient(to bottom, #22222480, #000000);
    border-radius: 15px;
}

.date{
    margin:0;
}


.line-break{
    width: 90%;
    margin: 0 auto;
}

.api--credit{
    color: rgba(255, 255, 255, 0.309);
    margin-top: auto;
    font-size: 15px;
}

.day-emoji{
    width:80px;
}

.error-text{
    color: white;
    text-align: center;
    font-size: 2rem;
}

.forecast-container{
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 100%;
}

.forecast-heading-container{
    display: flex;
    color: white;
    align-items: center;
    padding: 5px 25px 10px 25px;
}

.forecast-heading{
    font-size: 1.6rem;
}

.go-back-btn{
    padding:10px;
    font-size: 15px;
    border-style:none ;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    background-color: rgb(0, 0, 255);
    margin: 0px 25px 0px auto;
}

.go-back-btn:hover{
    border: 2px solid rgba(255, 255, 255, 0.271);
    transform: scale(1.02);
}

.hour-container{
    color: white;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    padding: 0px 0px 15px 25px;
}

.per-hour-container{
    display: flex;
    align-items: center;
    gap: 25px;
    background-color: rgba(0, 0, 0, 0.428);
    padding: 3px 15px 2px 15px;
    border-radius: 10px;
}

.hour-icon{
    width: 50px;
}

.hour-card-container{
    margin-top: 20px;
    display: flex;
    gap: 40px;
}

.forecast-line-break{
    margin-left: 25px;
    width: 120px;
    border: 2px solid blue;
}

.back-icon{
    color: white;
    padding-right: 10px;
}


/*Adjusted style for devices with 780px width*/
@media (max-width: 780px){

    .navbar, .main{
        width: 768px;
    }

    .main-headings{
        padding-left: 10px;
        font-size: 0.8rem;
    }

    .weather-form{
        margin: 10px 0px 0px 0px;
        padding: 10px;
    }
    
    .country-city-input{
        padding: 20px 5px 20px 5px;
        height: 80vh;
    }

    .weather-check-btn:enabled{
        padding:12px;
        font-size: 16px;
    }

    .weather-check-btn:disabled{
        padding:12px;
        font-size: 16px;
    }

    .api--credit{
        font-size: 10px;
        margin-right: 20px;
        padding-top: 20px;
    }

    .navbar-logo{
        font-size: 1.5rem;
    }

    .weather-display-card{
        flex: 3;
    }

    .check-new-location-btn{
        padding: 10px 28px 10px 28px;
        font-size: 15px;
        margin-right: 15px;
    }
    
    .city-name{
        font-size: 2rem;
    }

    .temp{
        font-size: 2.5rem;
    }

    .city-desc-container{
        padding: 10px 0px 0px 20px; 
    }

    .line-break{
        width: 90%;
        margin: 0 auto;
    }

    .parameter-value{
        font-size: 20px;
    }

    .parameter-icon{
        font-size: 25px;
    }

    .hour-card-container{
        gap: 5px;
    }

    .per-hour-container{
        gap: 5px;
    }

    .hour-container{
        font-size: 0.8rem;
        padding: 0px 0px 6px 10px;
    }

    .forecast-heading-container{
        padding: 0px 25px 5px 25px;
    }

    .go-back-btn{
        padding:10px 8px 10px 8px;
        width: 20%;
        font-size: 15px;
        margin-right: 0px;
    }

    .day-forecast:hover{
        border: 2px solid blue;
    }
    
}